<section class="bg-grey section-pad">
  <div class="container">
    <div class="section-heading text-center">
      <!-- <h2>Admin Panel</h2> -->
      <!-- <p class="text-muted">Check out what you can do with <span class="font-weight-bold">DesignMyResume</span></p> -->
      <hr>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"
            style="height: 225px; width: 100%; display: block;" src="../../assets/img/admin-area/template-management.jpg"
            data-holder-rendered="true">
          <div class="card-body">
            <h5 class="card-title">Manage Templates</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <button mat-button mat-raised-button color="primary" routerLink="template-manager">View</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"
            style="height: 225px; width: 100%; display: block;" src="../../assets/img/admin-area/user-management.jpg"
            data-holder-rendered="true">
          <div class="card-body">
            <h5 class="card-title">Manage Users</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
                <button mat-button mat-raised-button color="primary" routerLink="user-manager">View</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</section>