<div class="container">
  <div class="row top-padding">
    <div class="col">
      <h4 class="mb-3">Basic Information</h4>

      <form class="needs-validation" #formBasicInfo="ngForm" (ngSubmit)="saveBasicInfo(formBasicInfo.form.value)">
        <div class="row">
          <div class="col-md-6 mb-4">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="localItem.firstName" #firstName="ngModel" name="firstName"
              placeholder="" value="" required="">
          </div>
          <div class="col-md-6 mb-4">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" [(ngModel)]="localItem.lastName" #lastName="ngModel"
              name="lastName" value="" required="">

          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="localItem.email" #email="ngModel" name="email" placeholder=""
              value="">
          </div>

          <div class="col-md-6 mb-4">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="" [(ngModel)]="localItem.phone" #phone="ngModel" name="phone"
              value="">
            <small>If you have more than one number, separate with commas</small>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6 mb-4">
            <label for="address">Full Address</label>
            <input type="text" class="form-control" id="address" [(ngModel)]="localItem.address" #fulladdress="ngModel" name="fulladdress"
              placeholder="Example: 14800 Webb Chapel Rd, Dallas, TX 75234">
          </div>
          <div class="col-md-6 mb-4">
            <div class="row">
              <div class="col-2">
                <img class="url" [src]="url" width="70" height="70">
              </div>
              <div class="col">
                <label>Upload your Profile Picture (Supported Format: jpeg, jpg, png)</label>
                <input class="file-upload-input" #imageUrl type='file' name="imageUrl" (change)="readUrl($event);" accept="image/*" />
                <button class="" mat-button mat-raised-button color="primary" type="button" (click)="imageUrl.click()">Add Image</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <label for="jobTitle">Job Title</label>
                <input type="text" class="form-control" id="jobTitle" [(ngModel)]="localItem.jobTitle" #jobTitle="ngModel" name="jobTitle" placeholder="Example: Software Engineer, UI Designer, Graphic Designer">
            </div>
          </div>

        <div class="row">
          <div class="col">
              <label for="about">About Yourself</label>
              <textarea required class="form-control" maxlength="140" id="about" placeholder="Give a Brief Description about yourself.." [(ngModel)]="localItem.about" name="about"
                style="height: 100px;"></textarea>
          </div>
        </div>

        <hr class="mb-4">
        <button mat-button mat-raised-button color="primary" type="submit">Save and Next</button>
      </form>
    </div>
  </div>
</div>