<section class="bg-grey section-pad">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Choose your Template</h2>
      <!-- <p class="text-muted">Check out what you can do with <span class="font-weight-bold">DesignMyResume</span></p> -->
      <hr>
    </div>
    <div class="row">
      <div class="col-3" *ngFor="let template of templateList">
        <div class="img-cont">
          <div class="img-cont-overlay">
            <div class="overlay-content text-center">
              <h6 class="text-white ">{{template.name}}</h6>
              <button mat-button mat-raised-button class="choose-button text-white" color="primary" routerLink="../goToBuilder">Choose</button>
            </div>
          </div>
          <img src="{{template.imageUrl}}" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>