<section class="bg-grey section-pad">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Choose your Template</h2>
      <!-- <p class="text-muted">Check out what you can do with <span class="font-weight-bold">DesignMyResume</span></p> -->
      <hr>
    </div>
    <div class="row">

      <div class="col">
        <div class="img-cont">
          <div class="img-cont-overlay">
            <div class="overlay-content text-center">
              <h6 class="text-white ">Template Name</h6>
              <button mat-button mat-raised-button class="choose-button" color="primary">Choose</button>
            </div>  
          </div>
          <img src="../../assets/img/templates/template1.jpg" class="img-fluid">
        </div>
      </div>
      <div class="col">
          <div class="img-cont">
              <div class="img-cont-overlay">
                <div class="overlay-content text-center">
                  <h6 class="text-white ">Template Name</h6>
                  <button mat-button mat-raised-button class="choose-button" color="primary">Choose</button>
                </div>  
              </div>
              <img src="../../assets/img/templates/template2.jpg" class="img-fluid">
            </div>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</section>